# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Environment variables
.env

# Ignore Docker-related files
docker-compose.override.yml

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# SQLite database
*.sqlite3

# macOS-specific files
.DS_Store
